body {
  // background: url("./static/quiz-background-4.jpg") repeat center center;
  // background-size: cover;
  min-height: 100vh;
  background-color: rgba(232, 232, 232, 0.5);
}
.sign-in {
  background-color: #ffffff;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 390px;
  margin: 100px auto 0;

  h3 {
    color: black;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    margin: 0 0 20px;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0.375rem 0.75rem;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
  }
}

input[type="submit"],
.submit {
  font-weight: 400;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  background-color: rgb(43, 29, 72);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  color: white;
  line-height: 1.5;
  border-radius: 0.25rem;
  display: block;
  cursor: pointer;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  min-height: 70px;
  background-color: rgb(43, 29, 72);

  .App-logo {
    max-width: 100px;
    height: auto;
  }
}

.quiz {
  max-width: 900px;
  margin: 60px auto;
  padding: 30px 40px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  background: white;

  h3 {
    margin: 0 0 20px;
    font-size: 18px;
    color: #ebbbff;
    font-weight: 400;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      margin-right: 20px;
      color: #ff7c01;
      // color: #ffc58f;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      align-items: center;
      input {
        margin: 0;
      }
      label {
        padding-left: 5px;
      }
    }
  }

  .question-item {
    color: white;
    padding: 20px;
    border-radius: 4px;
    background: #333641;
    margin-bottom: 30px;
  }
}

.header-text {
  color: white;
  font-weight: 700;
  font-size: 22px;
  text-align: center;

  flex-grow: 1;
}

h1 {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.green {
  color: #4ec07d;
}

.red {
  color: #e96075;
}

.alert {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 50px;
}

p {
  margin-top: -5px;
  font-size: 0.5em;
  font-weight: 100;
  color: #5e5e5e;
  letter-spacing: 1px;
}

#success-box {
  position: absolute;
  width: 60%;
  height: 90%;
  left: 20%;
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px #cbcdd3;
  perspective: 40px;
}

#error-box {
  position: absolute;
  width: 60%;
  height: 90%;
  left: 20%;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px #cbcdd3;
}

.face {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}

.face2 {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}

.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

.right {
  left: 68%;
}

.mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent #777777 #777777 transparent;
  transform: rotate(45deg);
}

.sad {
  top: 49%;
  border: 2px solid;
  border-color: #777777 transparent transparent #777777;
  transform: rotate(45deg);
}

.shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: 0.5;
  background: #777777;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}

.scale {
  animation: scale 1s ease-in infinite;
}

.move {
  animation: move 3s ease-in-out infinite;
}

.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 47%;
}

.button-box {
  position: absolute;
  background: #fcfcfc;
  width: 50%;
  height: 15%;
  border-radius: 20px;
  top: 73%;
  left: 25%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
  transition: all 0.5s ease-in-out;
}

.button-box:hover {
  background: #efefef;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }

  50% {
    left: 60%;
    transform: rotate(168deg);
  }

  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }

  50% {
    left: 60%;
  }

  100% {
    left: 25%;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px;
  font-family: "Lato", sans-serif;
}

footer p {
  color: #ef8d9c;
  letter-spacing: 2px;
}

footer a {
  color: #b0db7d;
  text-decoration: none;
}

footer a:hover {
  color: #ffc39e;
}

#container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 960px;
  padding: 50px 0;
  margin-bottom: 60px;
  height: 500px;
}
